@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  font-family: Quicksand, sans-serif;
  color: #fff;
  background-color: #444654;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.cs-main-container {
  background-color: #444654 !important;
  border: 1px solid transparent !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444654;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #565869;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p:first-child {
  margin-bottom: 1.25em;
}

p:not(:first-child) {
  margin: 1.25em 0px 1.25em 0px;
}
p:last-child {
  margin-bottom: 0px;
}
